<div class='row'>
  <%= form_for @doctor, html: {class: 'col s12'} do |f| %>
    <% if @doctor.errors.any? %>
    <div id="error-explanation">
      <h5><%= pluralize(@doctor.errors.count, "error") %> prohibited this doctor from being saved:</h5>
      <ul>
        <% @doctor.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
    <div class="row">
      <div class="input-field col s6">
        <%= f.text_field :first_name %>
        <%= f.label :first_name %>
      </div>
      <div class="input-field col s6">
        <%= f.text_field :last_name %>
        <%= f.label :last_name %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <%= f.text_field :practice_name %>
        <%= f.label :practice_name %>
      </div>
      <div class="input-field col s6">
        <%= collection_select :doctor, :doctor_category_id, DoctorCategory.all, :id, :name, { prompt: "Choose a specialty" }, class: "browser-default" %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <%= f.text_field :address %>
        <%= f.label :address %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <%= f.phone_field :phone %>
        <%= f.label :phone %>
      </div>
      <div class="input-field col s6">
        <%= f.text_field :website %>
        <%= f.label :website %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s4">
        <%= f.number_field :rating %>
        <%= f.label :rating %>
      </div>
      <div class="input-field col s8">
        <%= f.text_area :review, class: 'materialize-textarea' %>
        <%= f.label :review %>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <%= f.button 'Submit', class: 'waves-effect waves-light btn-large' %>
        <%= link_to 'Back', doctors_path, class: 'waves-effect waves-light btn-large'  %>
      </div>
    </div>
  <% end %>
<div>
